.opensea-link img {
    max-height: 22px;
    margin-right: 5px;
}

.opensea-link {
    line-height: 24px;
}

.opensea-link span {
    border: 1px solid green;
    padding: .5em;
    border-radius: 15px;
}