.App {
  text-align: center;
  color: white;
}

.React-logo {
  max-width: 200px;
  animation: React-logo-spin 6s linear infinite;
}

.Fleek-logo {
  max-width: 400px;
}

.Big-plus {
  font-size: calc(50px + 2vmin);
}

h1,
h2,
h3,
h4,
h5,
p,
input {
  color: white;
}

.App-Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 200;
}

.App-link {
  color: #61dafb;
}